include mixin-value        
section.dribble
    .container
        .row
            .col
             h1.title Dribbles
            ul.list.list-inline.row.row--4
                each valCardList, index in cardList
                    li.col.card
                        .card__item
                            a.card__image(href='#inline-'+index data-lity)
                                span.visually-hidden=valCardList.name
                                each imageList, index in valCardList.image
                                    picture
                                        source(srcset=valCardList.imagewebp, type="image/webp")
                                        source(srcset=imageList.small , type="image/jpeg", media="(max-width: 768px)")
                                        source(srcset=valCardList.large, type="image/jpeg")
                                        img(src=imageList.large, alt="")
                            .card__action
                                .card__action-add
                                    a(href="#") attach 
                                ul.list.list-inline.card__action-list   
                                    -var cardActionList= cardAction.slice(0,3)
                                    each val, index in cardActionList
                                        li.card__action-list__item
                                            a(href="#") 
                                              span.visually-hidden=val.name
                                              img(src=val.image, alt="")
                                              span= val.count 
                        .card__owner  
                            a.card__owner__link(href="#")
                                img(src=valCardList.avater.large, alt="")
                                span= valCardList.name
                        include _modalbox        
            .button-section
                a.button.dribble__button-middle.button--backgroundcolor(href="#") Sign up to continue 
                a.button.dribble__button-middle(href="#") or sign in
