div.lity-hide(id='inline-'+index)
        .modal-box
            header.modal__header
                .container
                    .row.row--2
                        .col
                            img.modal__header__avater(src="images/avater.png", alt="")
                            .modal__header__personinfo
                                h2=valCardList.header 
                                p by 
                                    a(href="#")=valCardList.name
                                    | on
                                    time August 20, 2018
                        .col     
                            .modal__header__button
                                button.modal--button(type="button") Save
                                button.modal--button(type="button")
                                    img(src="images/Heart.png", alt="") 
                                    | like
            section.modal__banner
                .container
                    .modal__banner__image
                        picture
                            source(srcset=valCardList.imagewebp, data-srcset=valCardList.imagewebp, type="image/webp")
                            source(srcset=valCardList.image.large ,data-srcset=valCardList.image.large, type="image/jpeg")
                            img.lazy(src=valCardList.image.large, data-src=valCardList.image.large, data-srcset=valCardList.image.large, alt="")  
            section.modal__content
                .container
                    .row.row--3
                        .col.col--2
                            .modal__content__type
                                p Hey guys, here’s a sneak peak of my  work in progress I was happy everyone got to see my last work and commented so much.I’ll be sure to keep you updated
                            .modal--response  
                                h3 Responses 
                                each valComment, index in responseComment 
                                    .modal--response__comment.media
                                        .media__img
                                            img(src="images/avater.png", alt="") 
                                        .media__content
                                            h4=valComment.name
                                            p=valComment.text
                                            .modal--response__comment__action
                                                time August, 20 2018
                                                a(href="#")
                                                    img(src="images/Heart.png", alt="")
                                                    span.visually-hidden=valComment.nameAction
                                                    span=valComment.count
                        .col
                            .modal--action 
                                .modal--action__copylink
                                    button.modal--button(type="button")
                                        img(src="images/attach.png", alt="") 
                                        | Copy Link  
                                .modal--action__counts 
                                    each val, index in cardAction
                                        a(href="#") 
                                            img(src=val.image, alt="")
                                            span=val.count
                                            span=val.name
